body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffa500; /* Orange background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: #fff; /* White background for the container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
  }
  
  .refresh-text {
    margin-bottom: 20px;
    color: #333;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    width: 100%;
  }
  
  h2, label {
    color: #333;
  }
  
  button, input[type="submit"] {
    background-color: #0c80f3;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }